*{
    margin: 0;
    padding: 0;
}

#registro{ 
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:#fff;      
    width: 100%;    
}

#cabezote{
    margin-left: 2%;
}

#contenedor-btn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2%;
}

#nav{
    list-style: none;
    margin-left: 20px;
}

#btn-registrar{
    border-radius: 7px;
    margin-right: 20px;
    padding: 5px 15px;
    border: none;
    background-color: darkseagreen;    
}

#enlace-registro{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#enlace-home{
    text-decoration: none;
    font-size: 23px;
}
img{
    margin-top: 2%;
    border-radius: 50%;
}


/*Estilos de la presentacion*/
#container-presentacion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:gray;
}
#container-textos{
    margin: auto;
    margin-left: 5%;
}
#presentacion{
    margin-bottom: 2%;
    font-size: 150%;
    color:white;
}
#titulo-presentacion{
    font-size: 400%;
    margin-bottom: 2%;
}
#parrafo-presentacion{
    font-size: 200%;
}
#img-presentacion{
    width: 100%;
    height: 550px;
    margin-top: 0;
}

/*Estilos ofertas*/

#container-oferta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
#container-oferta-parrafo{
    margin-top: 7%;
    font-size: 280%;
}
#container-oferta-subtitulo{
    margin-top: 1%;
    font-size: 300%;
    margin-bottom: 7%;
}

/*Estilos contenedor imagenes*/

#contenedor-imagenes{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#contenedor-imagen-uno{
    background-color: gray;
    border-radius: 2%;
    width: 33%; 
    position: relative;
}
#contenedor-imagen-uno-titulo{
    position: absolute;
    top: 0;
    margin-top: 3%;
    margin-left: 7%;
    color: rgb(206, 109, 206);
    font-size: 35px;
}
#contenedor-imagen-dos{
    background-color: gray;
    border-radius: 2%;
    width: 33%;
    position: relative;
}
#contenedor-imagen-uno-titulo-dos{
    position: absolute;
    top: 0;
    margin-top: 3%;
    margin-left: 70%;
    color: rgb(206, 109, 206);
    font-size: 35px;
}
#contenedor-imagen-tres{
    background-color: gray;
    border-radius: 2%;
    width: 33%;
    position: relative;
}