*{
    margin: 0;
    padding: 0;
    /* font-family: 'Nunito', sans-serif; */
}
body{
    position: relative;
}
/*==================================Estilos Header=====================================*/
/*=====================================================================================*/
#registro{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #e3e3e3e3;      
    width: 100%;    
}

#cabezote{
    margin-top: 1%;
    margin-left: 2%;
}

#contenedor-btn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2%;
}

#nav{
    list-style: none;
    margin-left: 20px;
}

#btn-registrar{
    border-radius: 7px;
    margin-right: 20px;
    padding: 5px 15px;
    border: none;
    background-color: purple;    
}

#enlace-registro{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#enlace-home{
    text-decoration: none;
    font-size: 23px;
}
img{
    margin-top: 2%;
    border-radius: 50%;
}


/*================================Estilos de la presentacion============================*/
/*======================================================================================*/
#container-presentacion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:#f9f9f9;
}
#container-textos{
    margin: auto;
    margin-left: 5%;
}
#presentacion{
    margin-bottom: 2%;
    font-size: 150%;
    color:purple;
}
#titulo-presentacion{
    font-size: 400%;
    margin-bottom: 2%;
}
#parrafo-presentacion{
    font-size: 200%;
}
#img-presentacion{
    width: 100%;
    height: 550px;
    margin-top: 0;
}

/*==========================================Estilos ofertas=============================*/
/*======================================================================================*/

#container-oferta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3e3;
}
#container-oferta-parrafo{
    margin-top: 7%;
    font-size: 280%;
}
#container-oferta-subtitulo{
    margin-top: 1%;
    font-size: 300%;
    margin-bottom: 7%;
}

/*=============================Estilos contenedor imagenes==============================*/
/*======================================================================================*/

#contenedor-imagenes{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #e3e3e3e3;
}
#contenedor-imagen-uno{
    background-color: #f9f9f9;
    border-radius: 2%;
    margin-top: 2%;
    max-width: 440px;
    width: 100%; 
    position: relative;
}
#contenedor-imagen-uno-titulo{
    position: absolute;
    top: 0;
    margin-top: 3%;
    margin-left: 7%;
    color: rgb(206, 109, 206);
    font-size: 35px;
}
#contenedor-imagen-dos{
    background-color: #f9f9f9;
    border-radius: 2%;
    margin-top: 2%;
    max-width: 440px;
    width: 100%;
    position: relative;
}
#contenedor-imagen-uno-titulo-dos{
    position: absolute;
    top: 0;
    margin-top: 3%;
    margin-left: 65%;
    color: rgb(206, 109, 206);
    font-size: 35px;
}
#contenedor-imagen-tres{
    background-color: #f9f9f9;
    border-radius: 2%;
    margin-top: 2%;
    max-width: 440px;
    width: 100%;
    position: relative;
}
/*======================================Estilos Footer=================================*/
/*======================================================================================*/
footer{   
    /*Se le agrego una posicion relativa para poderlo pegar un poco a la anterior seccion*/
    position: absolute; 
    top: 95.5%;
    width: 100%;    
    padding:50px 0px;
    *background-image: url(../images/background-footer.svg);
    *background-size: cover; /*hace que la imagen se acomple al tamaño del elemento*/

    /*con estas propiedades logramos cambiar el color de la imagen de fondo*/
    background-color: #e3e3e3e3;
    -webkit-mask-image: url(../images/background-footer.svg);
    mask-image: url(../images/background-footer.svg);
    -webkit-mask-size: cover;
    mask-size: cover;    
} 

 .container{
    display: flex; /*acomoda los elementos unos al lado de otros*/
    flex-wrap: wrap; /*Hace que los elementos se pongan uno debajo del otro cuando el espacio no es suficiente para estar en linea*/
    justify-content: space-between; /* para que mantengan una posicion estirada y puedan ocupar el ancho completo*/
    max-width: 1200px;
    margin: auto;    
}

.box_footer{
    display: flex;
    flex-direction: column; /*pone sus elementos en columna*/
    padding: 40px;
}

.box_footer .box_image img{
    width: 50px;
}

.box_footer .description{
    max-width: 350px;
    margin-top: 30px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box_footer h2{
    margin-top: 20px;
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box_footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
    text-decoration: none;

}

.box_footer a:hover{
    opacity: 0.8; /*cambiamos la opacidad de los links*/
}

.box_copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0 40px;
}

.box_copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box_copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}
/*====================================Estilos complemento==============================*/
/*=====================================================================================*/
.contenedor {
    width: 100%;
    height: 30rem;
    position: relative;
    background-color: #f9f9f9;
  }
  
  .contenedor__uno {
    width: 15%;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    background-color: purple;
    left: 25%;
    top: 25%;
  }
  
  .contenedor__dos {
    width: 15%;
    height: 200px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left: 30%;
    top: 35%;
  }
  
  .contenedor__dos .number {
    color: purple;
    font-size: 300%;
  }
  
  .contenedor__dos h2 {
    text-align: center;
    margin-top: 8%;
  }
  
  .contenedor__tres {
    width: 5%;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    background-color: purple;
    left: 50%;
    top: 15%;
  }
  
  .contenedor__cuatro {
    width: 3%;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    background-color: purple;
    left: 52%;
    top: 31%;
  }
  
  .contenedor__cinco {
    position: absolute;
    left: 70%;
    top: 10%;
  }
  
  .contenedor__cinco h2 {
    color: purple;
    font-size: 40px;
  }
  
  .contenedor__cinco p {
    margin-bottom: 20%;
    font-size: 30px;
  }

/*====================================================================================
Media query
======================================================================================*/

@media screen and (max-width: 900px) {
    .container-img #img-presentacion{
        width: 100vw;
        margin-top: 3%;
        margin: auto;
    }
    #container-oferta-parrafo{
        margin-top: 7%;
        font-size: 220%;
    }
    #container-oferta-subtitulo{
        margin-top: 1%;
        font-size: 220%;
        margin-bottom: 7%;
    }
    #contenedor-imagen-uno{
        max-width: 900px;
    }
    #contenedor-imagen-dos{
        max-width: 900px;
    }
    #contenedor-imagen-tres{
        max-width: 900px;
    }
    .contenedor__uno {
        width: 15%;
        height: 200px;
        border-radius: 50%;
        position: absolute;
        background-color: purple;
        left: 10%;
        top: 25%;
      }
      
      .contenedor__dos {
        width: 15%;
        height: 200px;
        position: absolute;
        border-radius: 50%;
        background-color: #fff;
        left: 14%;
        top: 35%;
      }


    footer{   
        top: 98%;
    } 
}

